/* .g-pb-50 {
    padding-bottom: 5rem !important;
}
.ej-overlap-crcl-cont {
    max-width: 900px;
    margin: auto;
}
.g-pt-08 {
    padding-top: 0.8rem !important;
}
.g-drk-blue-clr {
    color: #061134 !important;
}

.g-fs-25 {
    font-size: 3rem !important;
    line-height: 3.1rem !important;
}
.g-pt-10 {
    padding-top: 1rem !important;
}
.g-mt-50 {
    margin-top: 5rem !important;
}
.g-pos-relative {
    position: relative !important;
}

.g-pb-10 {
    padding-bottom: 1rem !important;
}
.g-mb-50 {
    margin-bottom: 5rem !important;
}
.ej-200K-circle {
    width: 340px;
    height: 340px;
    background: #FFD6B3;
    border-radius: 100%;
    position: absolute;
}
.g-zindex-10000 {
    z-index: 10000 !important;
}
.g-blue5-bg {
    background-color: #dbebe6 !important;
}

.g-mt-20 {
    margin-top: 2rem !important;
}

.g-fs-36 {
    font-size: 3.6rem !important;
    line-height: 4.2rem !important;
}


.ej-100K-circle {
    width: 230px;
    height: 230px;
    background: #DBEBE6;
    border-radius: 100%;
    position: absolute;
    left: 16rem;
}
.g-zindex-10 {
    z-index: 10 !important;
}
.g-orange1-bg {
    background-color: #fce699 !important;
}
.g-pt-37 {
    padding-top: 3.7rem !important;
}

.g-ml-10 {
    margin-left: 2rem !important;
}
.g-fs-27 {
    font-size: 2.7rem !important;
    line-height: 3.3rem !important;
}


.g-maxw-100px {
    max-width: 100px !important;
}
.ej-30M-circle {
    width: 230px;
    height: 230px;
}

.ej-30M-circle {
    width: 270px;
    height: 270px;
    background: #EAF9FF;
    border-radius: 100%;
    position: absolute;
    top: 13rem;
    left: -3rem;
}
.g-zindex-1000 {
    z-index: 1000 !important;
}
.g-blue3-bg {
    background-color: #ebeaff !important;
}
.g-mt-10 {
    margin-top: 1rem !important;
}

.g-fs-27 {
    font-size: 2.7rem !important;
    line-height: 3.3rem !important;
}
.ej-1M-circle {
    width: 270px;
    height: 270px;
    background: #FCE699;
    border-radius: 100%;
    position: absolute;
    top: 12rem;
    left: 12rem;
}
.animate__duration-06s {
    animation-duration: var(--animate-duration) !important;
}
.animate__delay-07s {
    animation-delay: var(--animate-delay--07s) !important;
}
.g-zindex-100 {
    z-index: 100 !important;
}
.g-pink5-bg {
    background-color: #ffd6b3 !important;
}
.g-pt-50 {
    padding-top: 7rem !important;
}

.g-ml-05 {
    margin-left: 0.5rem !important;
}
.g-mt-05 {
    margin-top: 0.5rem !important;
}
.ej-silka-semibold {
    font-family: 'Verdana';
}

.g-lh-20 {
    line-height: 2.0rem !important;
}
.g-fs-30 {
    font-size: 3.0rem !important;
    line-height: 3.6rem !important;
}
.ej-silka-regular {
    font-family: 'Verdana';
}

.g-m-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.g-lh-12 {
    line-height: 1.2rem !important;
}
.g-fs-08 {
    font-size: 0.8rem !important;
    line-height: 1.4rem !important;
} */